<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}Want Seconds?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">Take Burger off the menu!</button>
</li>
